body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family: system-ui;
}

.div-1{
    width: 100%;
    height: 800px;
    background-image: url("https://th.bing.com/th/id/OIP.790808Bj7bBga4l1jXdhuwHaEK?rs=1&pid=ImgDetMain");
    background-repeat: no-repeat;
    background-size: 1900px 800px;
    color: black;
}

.div-1 .div-2{
    position: absolute;
    width: 80rem;
    border:lpx solid #333;
    align-items: center;
    justify-content: center;
    box-shadow: 8px 8px 5px #444;
    padding: 8px 12px;
    background-color: rgb(224, 220, 220);
    top: 40%;
    left: 15%;
    text-align: center;
}

.navbar{
    background-color: #0b9d49;
}

.carousel{
    
    max-width: 1800px;
    width: 95%;
}

.raw1{
    background-color: rgb(224, 220, 220);
}

.raw3{
    background-color: rgb(224, 220, 220);
}

.slider-wrapper .image-list {
    display: grid;
    gap: 20px;
    font-size: 0;
    margin-top: 2%;
    margin-bottom: 30px;
    overflow-x: auto;
    grid-template-columns: repeat(10, 1fr);
}

.slider-wrapper .image-list::-webkit-scrollbar{
    display: none;
}

.slider-wrapper .image-list .image-item {
    width: 325px;
    height: 200px;
    object-fit: cover;
}

.img{
    width: 600px;
    height:200px;
}
.carousel .slider-scrollbar {
    height: 24px;
    width: 100%;
    display: flex;
    align-items: center;
}

.slider-wrapper {
    position: relative;
}

.slider-wrapper .slide-button{
    position: absolute;
    top: 50%;
    height: 50px;
    width: 50px;
    color:#f9fbfa;
    border: none;
    outline: none;
    background: #131313;
    font-size: 2.2rem;
    cursor: pointer;
    border-radius: 50%;
    transform: translateY(-50%);
}

.slider-wrapper .slider-button:hover {
    background: black;
}

.slider-wrapper .slide-button#prev-slide{
    left: -20px;
    display: none;
}

.slider-wrapper .slide-button#next-slide{
    right: -20px;
}

.slider-scrollbar .scrollbar-track {
    height: 2px;
    width: 100%;
    background: #c1c0c0;
    position: relative;
    border-radius: 4px;
}

.slider-scrollbar:hover .scrollbar-track {
    height: 4px;
}

.slider-scrollbar .scrollbar-thumb {
    position: absolute;
    height: 100%;
    width: 50%;
    background: #000;
    border-radius: inherit;
    cursor: grab;
}

.slider-scrollbar .scrollbar-thumb:active {
    cursor: grabbing;
    height: 8px;
    top: -2px;
}

.slider-scrollbar .scrollbar-thumb::after{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -10px;
    bottom: -10px;
}

.div-3 {
    position:relative;
    width: 100%;
}

.div-3 .first-slide {
    width: 100%;
    background-color: hsla(43, 14%, 74%, 0.539);
}

.div-3 .third-slide {
    width: 100%;
    background-color: hsla(43, 14%, 74%, 0.539);
}

.div-3 .first-slide .display-image{
    width: 45%;
    margin-top: 2%;
    margin-left: 2%;
   
}

.div-3 .second-slide .display-image {
    width: 45%;
    margin-top: 2%;
    margin-left: 48%;
}

.div-3 .third-slide .display-image {
    width: 45%;
    margin-top: 2%;
    margin-left: 2%;
    
}

.div-3 .first-slide .message-1 {
    

}

/* Styles for mobile and tablets*/
@media (max-width: 1023px) {
    .slider-wrapper .slide-button {
        display: none!important;
    }
    
    .slider-wrapper .image-list {
        gap: 10px;
        margin-bottom: 15px;
    }

    .slider-wrapper .image-list .image-item {
        width: 280px;
        height: 380px;
    }

    .slider-scrollbar .scrollbar-thumb {
        width: 20%;
    }
}

